.navBar{
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  padding: 20px 10px;
}

.right{
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.navBar a{
  color: white;
  text-decoration: none;
}

h1{
  text-align: center;
}

.ProdContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.prodCard{
  max-width: 300px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 2px 2px rgb(96, 95, 94);
  font-size: large;
}

.prodCard .image{
width: 300px;
height: 170px;
border-radius: 10px;
}

.image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.prodCard .details{
  padding: 10px 0px;
}

.prodCard button{
  padding: 5px;
  background-color: black;
  color: white;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
}
.cartBody{
  display: flex;

}

.cartList{
  flex-basis: 23%;
  background-color: rgb(91, 91, 91);
  color: white;
  padding: 20px;
  font-size: large;
  border-radius: 20px;
  margin: 20px;
}
.cartContainer{
  flex-basis: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.listRow{
  display: flex;
  justify-content: space-between;
  padding: 7px 0px;
}

.totalCost{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  border-bottom:  1px solid white;
  padding: 7px 0px;
}

.cartList button{
  width: 100%;
  padding: 5px;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}